*.tar.gz
*.gz
*ubyte
Computer Vision/project/datasets
Computer Vision/project/model
Computer Vision/project/runs
Computer Vision/*.pt
__pycache__/
pothole-segmentation-for-road-damage-assessment.ipynb
Foundation of Data Science/Homework02/assets/cifar10
Foundation of Data Science/Homework02/data
*.mp4
*.pth
*.pt
*.csv
*.MP4
NLP/Part_1/datasets
Deep Learning/lab/data
Human Computer Interaction/project/hand_music
env